@import '~styles/variables';

$max-width-latitude: 100px;
$max-width-longitude: 108px;

.wrapper {

}

.latitude {
  width: $max-width-latitude !important;
}

.longitude {
  width: $max-width-longitude !important;
}