@import '~styles/variables';

$wrapper-bg-color:              $white;
$wrapper-border-color:          $gray-400;
$brand-icon-filter:             invert(15%) sepia(92%) saturate(4245%) hue-rotate(253deg) brightness(97%) contrast(117%);

$max-width-search-radius:       330px;
$max-width-number-of-scooters:  160px;
$max-width-location:            410px;
$max-width-submit:              auto;

$divider-color:                 $gray-300;


.wrapper {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  background-color: $wrapper-bg-color;
  border-bottom: 1px solid $wrapper-border-color;
}

.searchRadius {
  width: $max-width-search-radius;
}

.numberOfScooters {
  max-width: $max-width-number-of-scooters;
}

.location {
  max-width: $max-width-location;
}

.submitBtn {
  max-width: $max-width-submit;
}

.divider {
  align-items: stretch;
  position: relative;
  padding: 10px 5px 0 5px;

  &::before {
    display: block;
    content: ' ';
    width: 1px;
    height: 100%;
    background-color: $divider-color;
  }
}