@import '~styles/variables';

$slider-track-color: $primary;
$slider-handle-color: $primary;

.wrapper {

}

.slider {
  :global {
    .rc-slider-track {
      background-color: $slider-track-color;
    }

    .rc-slider-handle {
      border-color: $slider-handle-color !important;
      
      &:active, &:focus {
        box-shadow: 0 0 5px $primary;
      }
    }
  }
}

.input {
  width: 65px !important;
}