@import '~styles/variables';

$wrapper-bg-color:      $white;
$wrapper-border-color:  rgba($primary, 0.3);
$wrapper-box-shadow:    0 1px 8px 0 rgba(0, 17, 25, .27);
$brand-icon-filter:     invert(15%) sepia(92%) saturate(4245%) hue-rotate(253deg) brightness(97%) contrast(117%);

.wrapper {
  height: $navigation-height;
  background-color: $wrapper-bg-color;
  border-bottom: 1px solid $wrapper-border-color;
  // box-shadow: $wrapper-box-shadow;

  @media screen and (max-width: $collapse-point) {
    height: $navigation-height-sm;
  }
}

.brand {
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.25rem;
  white-space: nowrap;
  height: 100%;

  &:hover, &:focus {
    text-decoration: none;
  }

  &Icon {
    max-height: 100%;
    height: 28px;
    filter: $brand-icon-filter;

    @media screen and (max-width: $collapse-point) {
      height: 100%;
    }
  }

  &Text {
    font-family: $font-family-Montserrat;
    font-weight: bold;
    font-style: italic;
    margin-right: 8px;

    @media screen and (max-width: $collapse-point) {
      display: none;
    }
  }
}