@import '~styles/variables';

$container-bg-color:    $white;
$header-box-shadow:     0 1px 8px 0 rgba(0, 17, 25, .27);
$header-bg-color:       $white;

.wrapper {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: $container-bg-color;
}

.content {
  display: block;
}

.header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $header-bg-color;
  box-shadow: $header-box-shadow;
}
