@import '~styles/variables';

$label-color: $gray-600;

.wrapper {
  display: block;
}

.heading {
  display: block;
  margin-bottom: 5px;
}

.content {
  display: block;

  :global {
    .input-group {
      .input-group-text {
        font-weight: bold;
        font-size: 0.8rem !important;
        text-transform: uppercase;
      }
    }
  }
}

.label {
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $label-color;
}

